* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
  user-select: none;
}

@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />');

:root {
  --first-crl: #111;
  --second-crl: #ff3d00;
}
ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  transition: 0.4s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 700;
  line-height: 1.5;
}
p,
li {
  font-size: 17px;
  color: #000;
  line-height: 1.6;
}
img {
  width: auto;
  transition: 0.4s ease;
}
.container {
  max-width: 1200px;
}
.bg-color {
  background: #f2f2f2;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offer-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.offer-banner p,
.offer-banner p a {
  margin: 0;
  color: #fff;
  font-size: 15px;
}
.topbar {
  background-color: var(--first-crl);
  padding: 10px 0;
}
.top-social ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-social ul li a {
  color: #fff;
  font-size: 15px;
  background-color: var(--second-crl);
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.logo img {
  width: 160px;
  height: auto;
}
.desk-menu ul {
  display: flex;
  align-items: center;
}
.desk-menu ul li a {
  padding: 10px 20px;
  font-size: 17px;
}
a.toggle-icon {
  background-color: var(--first-crl) !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  padding: 11px;
}
.offcanvas-header {
  background-color: var(--first-crl);
}
.offcanvas-header h5 {
  color: #fff;
  font-size: 22px;
}
.offcanvas-header .btn-close {
  filter: invert(1);
  opacity: 1;
}
.list-menus li a {
  display: block;
  width: 100%;
  padding: 7px 10px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 10px;
}
.list-menus li a:hover {
  background-color: var(--second-crl);
  color: #fff;
}
.wrapper {
  background: radial-gradient(circle, #0c3483 60%, #000 100%);
}
/*slider container*/
.slider {
  position: relative;
  width: 40%;
  height: 50vw;
  margin: auto;
  perspective: 1400px;
  transform-style: preserve-3d;
}
input[type="radio"] {
  position: relative;
  top: 80%;
  right: 40%;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  opacity: 0.6;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
  transform: calc(1);
  transition: all 0.3s ease;
}
input[type="radio"]:checked {
  opacity: 1;
  transform: scale(1.2);
  box-shadow:
    0 0 10px rgba(0, 123, 255, 0.8),
    0 0 20px rgba(0, 123, 255, 0.5);
}
input[type="radio"]:nth-child(5) {
  margin-right: 0;
}
.slider label,
.slider label img {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 90px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
}
.slider label img {
  opacity: 0.6;
  transition:
    opacity 0.3s ease,
    transform 0.3 ease;
}
#s1:checked ~ #slider1 img,
#s2:checked ~ #slider2 img,
#s3:checked ~ #slider3 img,
#s4:checked ~ #slider4 img,
#s5:checked ~ #slider5 img {
  opacity: 1;
  transform: scale(1.05);
}
#s1:checked ~ #slider1,
#s2:checked ~ #slider2,
#s3:checked ~ #slider3,
#s4:checked ~ #slider4,
#s5:checked ~ #slider5 {
  transform: translate3d(0%, 0, 0px);
}
#s1:checked ~ #slider2,
#s2:checked ~ #slider3,
#s3:checked ~ #slider4,
#s4:checked ~ #slider5,
#s5:checked ~ #slider1 {
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slider3,
#s2:checked ~ #slider4,
#s3:checked ~ #slider5,
#s4:checked ~ #slider1,
#s5:checked ~ #slider2 {
  transform: translate3d(40%, 0, -250px);
}
#s1:checked ~ #slider4,
#s2:checked ~ #slider5,
#s3:checked ~ #slider1,
#s4:checked ~ #slider2,
#s5:checked ~ #slider3 {
  transform: translate3d(-20%, 0, -250px);
}
#s1:checked ~ #slider5,
#s2:checked ~ #slider1,
#s3:checked ~ #slider2,
#s4:checked ~ #slider3,
#s5:checked ~ #slider4 {
  transform: translate3d(-40%, 0, -250px);
}
/* banner-sec*/
.banner-sec {
  padding: 170px 0;
  background-image: url("img/dag.jpg");
  background-size: cover;
  overflow: hidden;
  border: 2px solid #cb34a0;
  margin-top: 15px;
  border-radius: 55px;
  box-shadow: 0 5px 10px rgba(0, 123, 255, 0.5);
}
.banner-sec:hover {
  background-image: url("img/بنر-ص-اصلی-جدید-1190x383.jpg");
  border-radius: 55px;
  box-shadow: 0 5px 10px rgba(96, 43, 43, 0.5);
  border: 2px solid rgb(255, 47, 61);
}
.banner-text span {
  font-size: 20px;
  color: var(--second-crl);
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 45px;
}
.banner-text span::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background: var(--second-crl);
  top: 12px;
  left: 0;
}
.banner-tex h3 {
  font-size: 80px;
}
.nav-btn a {
  display: inline-block;
  padding: 8px 35px;
  background-color: var(--first-crl);
  color: #fff;
}
.nav-btn a:hover {
  background-color: var(--second-crl);
  transform: translateY(20px);
}
.featured-flex {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.featured-flex i {
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  background-color: #000;
  border-radius: 50%;
}
.featured-flex .p-text-s {
  font-size: 21px;
  margin: 0;
}
/* deal */

h3.title {
  color: #333;
  font-size: 36px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
h3.title::before {
  width: 160px;
  height: 3px;
  background-color: var(--second-crl);
  bottom: 0;
  left: auto;
  position: absolute;
  content: "";
}
.product-box {
  width: 100%;
  position: relative;
  box-shadow: 0 7px 29px 0 rgba(31, 200, 40, 0.2);
  border-radius: 12px;
  margin-bottom: 25px;
  background-color: #fff;
  border: 3px solid palegreen;
}
.pr-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.pr-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.pr-text {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
}
.pr-text p {
  font-size: 17px;
  margin: 0;
}
.rating i {
  color: goldenrod;
  font-size: 15px;
}
.share-pr li a {
  background-color: var(--second-crl);
  color: #fff;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  margin-bottom: 5px;
  border-radius: 5px;
}
.share-pr {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.5s ease;
  transform: translateX(30px);
  opacity: 0;
}
.product-box:hover .share-pr {
  transform: translateX(0);
  opacity: 1;
}
.tags .nav-btn {
  position: absolute;
  left: 25px;
  bottom: 0;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.4s ease;
}
.product-box:hover .tags .nav-btn {
  opacity: 1;
  transform: translateY(-30px);
}
.product-box:hover img {
  transform: scale(1.1);
}
.section {
  position: relative;
}
/*trend-box*/
.trend-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.trend-box img {
  width: 100%;
  height: auto;
}
.trend-box h4 {
  color: #fff;
  background-color: var(--first-crl);
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}
.trend-box:hover img {
  transform: scale(1.1) rotate(3deg);
  filter: brightness(0.8) contrast(1.2);
}
/*show-product*/
.show-product {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.show-product img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.show-text h6 {
  color: #fff;
  font-size: 32px;
  width: 80%;
  margin-bottom: 20px;
}

.show-text {
  position: absolute;
  top: 0;
  padding: 25px;
}
.show-text p {
  width: 60%;
  color: #000;
}
/*testimonial-box*/
.testimonial-box {
  text-align: center;
  width: 80%;
  margin: auto;
}
.test-info img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  border: 5px solid var(--second-crl);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: var(--second-crl);
  opacity: 1;
  font-size: 22px;
}
/*blog-box*/
.blog-box {
  width: 100%;
  position: relative;
}
.blog-img {
  position: relative;
  overflow: hidden;
  margin: 0 0 20px;
  width: 100%;
}
.blog-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.blog-text h4 {
  font-size: 19px;
}
.blog-ar {
  padding-bottom: 3px;
  color: var(--second-crl);
}
.blog-box:hover h4 {
  color: var(--second-crl);
}
.blog-box:hover img {
  transform: scale(1.1);
}
.footer {
  padding: 50px 0;
}
.footer-img img {
  width: 220px;
  height: auto;
}
.pay-img img {
  width: 200px;
}
.f-title h5 {
  font-size: 22px;
  color: var(--second-crl);
  margin-bottom: 20px;
  font-weight: 600;
  opacity: 0.8;
}
.footer-links ul li a {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  display: inline-block;
}
.footer-links ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 10px;
  height: 2px;
  background-color: var(--second-crl);
}
.footer-content {
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
}
.footer-content i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background: var(--second-crl);
  color: #fff;
}

/*copyright*/
.copyright {
  background: var(--second-crl);
  padding: 10px 0;
}
.copyright p {
  color: #fff;
  font-size: 15px;
  margin: 0;
}
.copyright-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icons {
  display: flex;
  align-items: center;
}
.social-icons li a {
  font-size: 22px;
  margin-right: 15px;
  color: #fff;
}
.social-icons li a:hover {
  color: var(--first-crl);
}
@media (max-width: 991px) {
  input {
    display: none;
  }
  .slider {
    bottom: 120px;
  }

  .desk-menu {
    display: none;
  }
  .banner-sec {
    padding: 70px 0;
    background-position: center;
  }
  .featured-flex {
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }
}

.lang-switch {
  background: none;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lang-switch:hover {
  background-color: #f8f9fa;
}

[dir="ltr"] {
  text-align: left;
}

[dir="rtl"] {
  text-align: right;
}
.footer a,
.footer-links a,
.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover,
.footer-links a:hover,
.footer-content a:hover {
  color: #f5b041;
}
.offer-banner a {
  color: #fff !important;
  text-decoration: none;
}

.offer-banner a:hover {
  color: #f5b041 !important;
}

.offer-banner p a[data-lang="login"] {
  color: white !important;
}
.topbar .offer-banner p,
.topbar .offer-banner p a,
.topbar .offer-banner a[data-lang="login"] {
  color: #ffffff !important;
}

.topbar .offer-banner a[data-lang="login"]:hover {
  color: #f5b041 !important;
}
.login-link a {
  color: white !important;
  font-weight: 500;
  text-decoration: none;
}

.login-link a:hover {
  color: #f5b041 !important;
}
/* ACTIVE MENU */

.flex-menus li a {
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 20px;
}

.flex-menus li a:hover,
.flex-menus li a.active {
  background: #d98b39;
  color: white !important;
}

/* PAGE HERO */

.inner-banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/image01.png");

  height: 300px;

  background-size: cover;

  background-position: center;

  display: flex;

  align-items: center;

  justify-content: center;

  color: white;
}

.inner-banner h1 {
  font-size: 40px;
}

/* BEAUTIFUL CARDS */

.pet-card {
  background: white;

  border-radius: 25px;

  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

  transition: 0.4s;
}

.pet-card:hover {
  transform: translateY(-10px);
}

.pet-card img {
  width: 100%;

  height: 230px;

  object-fit: cover;
}

.pet-card-content {
  padding: 20px;

  text-align: center;
}

.pet-card h3 {
  color: #b46b24;
}

.pet-btn {
  display: inline-block;

  background: #d98b39;

  color: white;

  padding: 10px 25px;

  border-radius: 30px;

  text-decoration: none;

  margin-top: 15px;
}

.pet-btn:hover {
  background: #9c5418;
}
/* ACTIVE MENU */

.flex-menus li a {
  padding: 8px 14px;
  border-radius: 25px;
  transition: 0.3s;
}

.flex-menus li a:hover,
.flex-menus li a.active {
  background: #d98b39;
  color: white !important;
}
.blog-box{

background:#fff;
border-radius:15px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,.1);
height:100%;

}


.blog-img img{

width:100%;
height:230px;
object-fit:cover;

}


.blog-text{

padding:20px;
text-align:center;

}


.blog-text a{

background:#d98b39;
color:white;
padding:8px 20px;
border-radius:20px;
text-decoration:none;

}


@media(max-width:768px){

.blog-img img{

height:200px;

}

}